// COLORS
// --------------------------------------
// Primary Theme Colors
$primary-color: #136a8a;
$secondary-color: #267871;

// Neutral Colors
$white-color: #fff;
$black-color: #000;
$dark-grey: #333333;
$light-grey: #d2d2d2;

// Text Colors
$dark-blue-text: #272341; // Used for Headings

// FONT SIZES
// --------------------------------------
$default-font-size: 1.6rem;
$small-font-size: 1.2rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
